.website-logo{
  height: 50px;
  border-radius: 50px;
  border: solid;
  margin-right: 15px;
}

body{
  background-color: rgb(115,149,174);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin: 0;
}

.top-container{
  margin-top: 8px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
}

.search-bar{
  width: 150px;
  height: 25px;
  font-size: 15px;
  margin-left: 975px;
  background-color: rgb(97, 119, 162);
  border: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 13px;
  border-width: 2px;
}

.search-button{
  background: none;
  height: 25px;
  border:none;
  cursor: pointer;
}

.search-pic{
  height: 25px;
}

.my-account-button{
  margin-left: 40px;
  padding: 5px 10px;
  background-color: rgb(97, 119, 162);
  border: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options-bar{
  background-color: rgb(21, 62, 105);
  border: solid;
  border-width: 4px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-left: 0px;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.option-buttons{
  height: 45px;
  background-color: rgb(177, 176, 175);
  border-radius: 10px;
  border-style: solid;
  width: 150px;
  font-size: larger;
  cursor: pointer;
}
